[include mainsail.cfg]
[mcu]
serial: /dev/serial/by-id/usb-Klipper_lpc1769_17600005A39869AF7F39405EC52000F5-if00

[virtual_sdcard]
path: /home/taran/printer_data/gcodes
on_error_gcode: CANCEL_PRINT

[exclude_object]

[printer]
kinematics: corexz #none
max_velocity: 200
max_accel: 2000
# max_accel_to_decel: 2000
square_corner_velocity: 5.0
max_z_velocity: 100
max_z_accel: 1000

[idle_timeout]
timeout: 600 # 10 minutes
gcode:
    TURN_OFF_HEATERS
    M107 ; Turn off fans
    SET_STEPPER_ENABLE STEPPER=stepper_y ENABLE=0
    SET_STEPPER_ENABLE STEPPER=extruder ENABLE=0

[force_move]
enable_force_move: True #False
#   Set to true to enable FORCE_MOVE and SET_KINEMATIC_POSITION
#   extended G-Code commands. The default is false.

[fan]
pin: P2.3

[stepper_x]
step_pin: P2.2
dir_pin: P2.6
enable_pin: !P2.1
microsteps: 16
rotation_distance: 32
endstop_pin: P1.29
position_endstop: -20
position_min: -20
position_max: 220
homing_speed: 50

[tmc2209 stepper_x]
uart_pin: P1.10
run_current: 0.600
interpolate: False
#stealthchop_threshold: 999999

[stepper_y]
step_pin: P0.19
dir_pin: P0.20
enable_pin: !P2.8
microsteps: 16
rotation_distance: 32
endstop_pin: P1.28
position_endstop: 0
position_max: 220
homing_speed: 50

[tmc2209 stepper_y]
uart_pin: P1.9
run_current: 0.600
interpolate: False
#stealthchop_threshold: 999999

[stepper_z]
step_pin: P0.22
dir_pin: !P2.11
enable_pin: !P0.21
microsteps: 16
rotation_distance: 32
endstop_pin: probe:z_virtual_endstop
position_min: -17
position_max: 240
homing_speed: 5.0

[tmc2209 stepper_z]
uart_pin: P1.8
run_current: 0.600
interpolate: True
stealthchop_threshold: 999999

# [stepper_z1]
# step_pin: P1.15
# dir_pin: !P1.14
# enable_pin: !P1.16
# microsteps: 16
# rotation_distance: 8
# endstop_pin: probe:z_virtual_endstop

# [tmc2209 stepper_z1]
# uart_pin: P1.1
# run_current: 0.600
# interpolate: True
# stealthchop_threshold: 999999

[extruder]
step_pin: P2.13
dir_pin: P0.11
enable_pin: !P2.12
microsteps: 16
rotation_distance: 7.71 #22.676 when used gear_ratio (7.71 * 50:17)
full_steps_per_rotation: 200
#gear_ratio: 50:17
nozzle_diameter: 0.400
filament_diameter: 1.750
heater_pin: P2.7
sensor_type: ATC Semitec 104GT-2
sensor_pin: P0.24
control: pid
pid_Kp: 23.628
pid_Ki: 0.991
pid_Kd: 140.880
min_temp: 0
max_temp: 260

[tmc2209 extruder]
uart_pin: P1.4
run_current: 1
interpolate: False
#stealthchop_threshold: 0

#[extruder1] #used as stepper_z1
#step_pin: P1.15
#dir_pin: P1.14
#enable_pin: !P1.16
#heater_pin: P2.4
#sensor_pin: P0.23
#...

# [z_tilt]
# z_positions: -77,110
#   297,110
# points: -20,110
#   180,110
# speed: 50
# horizontal_move_z: 10
# retries: 5
# retry_tolerance: 0.02

[heater_bed]
heater_pin: P2.5
sensor_type: ATC Semitec 104GT-2 #Generic 3950 
sensor_pin: P0.25
control: pid
pid_Kp: 75.916
pid_Ki: 1.827
pid_Kd: 788.581
min_temp: 0
max_temp: 130

[bltouch]
sensor_pin: ^P0.10
control_pin: P2.0
x_offset: 30
y_offset: 0
z_offset: 0.450 #0.430 #0.60

[safe_z_home]
home_xy_position: 90, 110 # Change coordinates to the center of your print bed
speed: 50
z_hop: 10                 # Move up 10mm
z_hop_speed: 5

[bed_mesh]
speed: 50
horizontal_move_z: 10
mesh_min: 10, 10
mesh_max: 210, 210
probe_count: 5, 5
#fade_start: 1.0
#fade_end: 10.0
#split_delta_z: .025
#move_check_distance: 5.0
mesh_pps: 2, 2
algorithm: bicubic
bicubic_tension: .2
adaptive_margin: 5

[bed_screws]
screw1: 5.5, 5.5
#   The X, Y coordinate of the first bed leveling screw. This is a
#   position to command the nozzle to that is directly above the bed
#   screw (or as close as possible while still being above the bed).
#   This parameter must be provided.
screw1_name: Front Left
#   An arbitrary name for the given screw. This name is displayed when
#   the helper script runs. The default is to use a name based upon
#   the screw XY location.
#screw1_fine_adjust:
#   An X, Y coordinate to command the nozzle to so that one can fine
#   tune the bed leveling screw. The default is to not perform fine
#   adjustments on the bed screw.
screw2: 214.5, 5.5
screw2_name: Front Right 
#screw2_fine_adjust:
#...
#   Additional bed leveling screws. At least three screws must be
#   defined.
screw3: 5.5, 214.5
screw3_name: Back Left 
screw4: 214.5, 214.5
screw4_name: Back Right 

[screws_tilt_adjust]
screw1: -17, 5.5
#   The (X, Y) coordinate of the first bed leveling screw. This is a
#   position to command the nozzle to so that the probe is directly
#   above the bed screw (or as close as possible while still being
#   above the bed). This is the base screw used in calculations. This
#   parameter must be provided.
screw1_name: Front Left
#   An arbitrary name for the given screw. This name is displayed when
#   the helper script runs. The default is to use a name based upon
#   the screw XY location.
screw2: 184.5, 5.5
screw2_name: Front Right 
#...
#   Additional bed leveling screws. At least two screws must be
#   defined.
screw3: -17, 214.5
screw3_name: Back Left 
screw4: 184.5, 214.5
screw4_name: Back Right 
speed: 50
#   The speed (in mm/s) of non-probing moves during the calibration.
#   The default is 50.
horizontal_move_z: 10
#   The height (in mm) that the head should be commanded to move to
#   just prior to starting a probe operation. The default is 5.
screw_thread: CW-M3
#   The type of screw used for bed leveling, M3, M4, or M5, and the
#   rotation direction of the knob that is used to level the bed.
#   Accepted values: CW-M3, CCW-M3, CW-M4, CCW-M4, CW-M5, CCW-M5.
#   Default value is CW-M3 which most printers use. A clockwise
#   rotation of the knob decreases the gap between the nozzle and the
#   bed. Conversely, a counter-clockwise rotation increases the gap.

horizontal_move_z: 10
#   The height (in mm) that the head should be commanded to move to
#   when moving from one screw location to the next. The default is 5.
#probe_height: 0
#   The height of the probe (in mm) after adjusting for the thermal
#   expansion of bed and nozzle. The default is zero.
speed: 80
#   The speed (in mm/s) of non-probing moves during the calibration.
#   The default is 50.
#probe_speed: 5
#   The speed (in mm/s) when moving from a horizontal_move_z position
#   to a probe_height position. The default is 5.

########################################
# EXP1 / EXP2 (display) pins
########################################

[board_pins]
aliases:
    # EXP1 header
    EXP1_1=P1.30, EXP1_3=P1.18, EXP1_5=P1.20, EXP1_7=P1.22, EXP1_9=<GND>,
    EXP1_2=P0.28, EXP1_4=P1.19, EXP1_6=P1.21, EXP1_8=P1.23, EXP1_10=<5V>,
    # EXP2 header
    EXP2_1=P0.17, EXP2_3=P3.26, EXP2_5=P3.25, EXP2_7=P1.31, EXP2_9=<GND>,
    EXP2_2=P0.15, EXP2_4=P0.16, EXP2_6=P0.18, EXP2_8=<RST>, EXP2_10=<NC>
    # Pins EXP2_1, EXP2_6, EXP2_2 are also MISO, MOSI, SCK of bus "ssp0"

# See the sample-lcd.cfg file for definitions of common LCD displays.

######################################################################
# Bigtreetech Mini12864 V1.0 (with neopixel backlight leds)
######################################################################

[display]
lcd_type: uc1701
cs_pin: EXP1_3
a0_pin: EXP1_4
rst_pin: EXP1_5
contrast: 63
encoder_pins: ^EXP2_5, ^EXP2_3
click_pin: ^!EXP1_2
## Some micro-controller boards may require an spi bus to be specified:
#spi_bus: ssp0
## Alternatively, some micro-controller boards may work with software spi:
#spi_software_miso_pin: EXP2_1
#spi_software_mosi_pin: EXP2_6
#spi_software_sclk_pin: EXP2_2

[pwm_cycle_time BEEPER_pin]
pin: EXP1_1
value: 0
shutdown_value: 0
cycle_time: 0.001

[neopixel BTT_mini12864]
pin: EXP1_6
chain_count: 3
color_order: RGB
initial_RED: 0.4
initial_GREEN: 0.4
initial_BLUE: 0.4

#  Set RGB values on boot up for each Neopixel. 
#  Index 3 = display, Index 2 and 1 = Knob
[delayed_gcode setdisplayneopixel]
initial_duration: 1
gcode:
        SET_LED LED=BTT_mini12864 RED=1 GREEN=1 BLUE=1 INDEX=3 TRANSMIT=0   # Backlit Screen colour
        SET_LED LED=BTT_mini12864 RED=1 GREEN=0 BLUE=0 INDEX=2 TRANSMIT=0   # Bottom right knob colour
        SET_LED LED=BTT_mini12864 RED=1 GREEN=0 BLUE=0 INDEX=1              # Top left Knob colour


[motor_constants 36STH20-1004HG]
# Coil resistance, Ohms
resistance: 2.1
# Coil inductance, Henries
inductance: 0.0016
# Holding torque, Nm
holding_torque: 0.10
# Nominal rated current, Amps
max_current: 1
# Steps per revolution (1.8deg motors use 200, 0.9deg motors use 400)
steps_per_revolution: 200

# [motor_constants 17HS4023]
# # Coil resistance, Ohms
# resistance: 4.1
# # Coil inductance, Henries
# inductance: 0.0041
# # Holding torque, Nm
# holding_torque: 0.13
# # Nominal rated current, Amps
# max_current: 1
# # Steps per revolution (1.8deg motors use 200, 0.9deg motors use 400)
# steps_per_revolution: 200

[autotune_tmc stepper_x]
motor: omc-17he15-1504s
tuning_goal: performance #auto #silent
voltage: 24
[autotune_tmc stepper_y]
motor: omc-17he15-1504s
tuning_goal: performance #auto #silent
voltage: 24
[autotune_tmc stepper_z]
motor: omc-17he15-1504s
tuning_goal: auto #silent
voltage: 24
[autotune_tmc extruder]
motor: 36STH20-1004HG
tuning_goal: performance #auto #silent
voltage: 24

# GCode macros

[gcode_macro M300]
gcode:
    # Use a default 1kHz tone if S is omitted.
    {% set S = params.S|default(1000)|int %}
    # Use a 10ms duration is P is omitted.
    {% set P = params.P|default(100)|int %}
    SET_PIN PIN=BEEPER_pin VALUE=0.5 CYCLE_TIME={ 1.0/S if S > 0 else 1 }
    G4 P{P}
    SET_PIN PIN=BEEPER_pin VALUE=0

[gcode_macro update_git]
gcode:
    RUN_SHELL_COMMAND CMD=update_git_script

[gcode_shell_command update_git_script]
command: bash -c "bash $HOME/klipper-backup/script.sh"
timeout: 90.0
verbose: True

#####################################################################
#   print_start macro
#####################################################################

[gcode_macro PRINT_START]
gcode:
  # This part fetches data from your slicer. Such as bed temp, extruder temp, chamber temp and size of your printer.
  {% set target_bed = params.BED|int %}
  {% set target_extruder = params.EXTRUDER|int %}
  {% set target_chamber = params.CHAMBER|default("40")|int %}
  {% set x_wait = printer.toolhead.axis_maximum.x|float / 2 %}
  {% set y_wait = printer.toolhead.axis_maximum.y|float / 2 %}

  # Homes the printer, sets absolute positioning.
  G28                   # Full home (XYZ)
  G90                   # Absolut position
  
  # Bed mesh (1 of 2)
  BED_MESH_CLEAR       # Clears old saved bed mesh (if any)
  
  # Bed heating
  SET_DISPLAY_TEXT MSG="Bed: {target_bed}c"           # Displays info
  G1 X{x_wait} Y{y_wait} Z15 F9000                    # Goes to center of the bed
  M190 S{target_bed}                                  # Sets the target temp for the bed


  # Heating nozzle to 150 degrees. This helps with getting a correct Z-home
  SET_DISPLAY_TEXT MSG="Hotend: 150c"          # Displays info
  M109 S150                                    # Heats the nozzle to 150c

  # # Z_TILT_ADJUST
  # SET_DISPLAY_TEXT MSG="Z-tilt adjust"     # Displays info
  # Z_TILT_ADJUST                            # Levels the buildplate via z_tilt_adjust
  # G28 Z                                    # Homes Z again after z_tilt_adjust

  # Bed mesh (2 of 2)
  SET_DISPLAY_TEXT MSG="Bed mesh"                  # Displays info
  BED_MESH_CALIBRATE METHOD=automatic ADAPTIVE=1   # Starts bed mesh

  # Heats up the nozzle up to target via data from slicer
  SET_DISPLAY_TEXT MSG="Hotend: {target_extruder}c"             # Displays info
  G1 X{x_wait} Y{y_wait} Z15 F9000                              # Goes to center of the bed
  M107                                                          # Turns off partcooling fan
  M109 S{target_extruder}                                       # Heats the nozzle to printing temp

  # Gets ready to print by doing a purge line
  SET_DISPLAY_TEXT MSG="Printer goes brr"          # Displays info
  G0 X{x_wait - 50} Y4 F10000                      # Moves to starting point
  G0 Z0.4                                          # Raises Z to 0.4
  G91                                              # Incremental positioning 
  G1 X100 E20 F1000                                # Purge line
  G90                                              # Absolut position

[gcode_macro END_PRINT]
gcode:
  G92 E0                         ; Zero the extruder
  G1 E-5 F3600                   ; Retract filament
  TURN_OFF_HEATERS
  M107                           ; Turn off fans
  G91                            ; Relative positioning
  G0 Z3 F3600                    ; Move nozzle up
  G90                            ; Absolute positioning
  G28 X                          ; Home X
  G0 Y220                        ; Move bed to front
  # Disable extruder and Y stepper
  SET_STEPPER_ENABLE STEPPER=stepper_y ENABLE=0
  SET_STEPPER_ENABLE STEPPER=extruder ENABLE=0
  # Text
  SET_DISPLAY_TEXT MSG="Printer done!" 
  # BEEP
  M300 S100 P300